<!-- Contact Section -->
<section class="contact section" id="contact">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contact Me</h2>
            </div>
        </div>
        <div class="row">
            <!-- Contact Info Item -->
            <div class="contact-info-item padd-15">
                <div class="icon">
                    <i class="fa fa-phone"></i>
                </div>
                <h4>Phone</h4>
                <p>@Model.Phone</p>
            </div>
            <!-- Contact Info Item -->
            <div class="contact-info-item padd-15">
                <div class="icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <h4>City</h4>
                <p>@Model.City</p>
            </div>
            <!-- Contact Info Item -->
            <div class="contact-info-item padd-15">
                <div class="icon">
                    <i class="fa fa-envelope"></i>
                </div>
                <h4>Email</h4>
                <p>@Model.Email</p>
            </div>
        </div>

        <!-- Contact Form -->
        <form asp-controller="Contact" asp-action="Send" method="post" class="contact-form padd-15">
            <div class="row">
                <div class="form-item col-6 padd-15">
                    <div class="form-group">
                        <input type="text" name="Name" class="form-control" placeholder="Name*" required>
                    </div>
                </div>
                <div class="form-item col-6 padd-15">
                    <div class="form-group">
                        <input type="email" name="Email" class="form-control" placeholder="Email*" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-item col-12 padd-15">
                    <div class="form-group">
                        <input type="text" name="Subject" class="form-control" placeholder="Subject*" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-item col-12 padd-15">
                    <div class="form-group">
                        <textarea class="form-control" name="Message" placeholder="Your Message..." rows="5" required></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 padd-15">
                    <button type="submit" class="btn">Send Message</button>
                </div>
            </div>
        </form>

        <!-- Contact Form End -->
    </div>
</section>
<!-- Contact Section End -->
