@{
    ViewBag.Title = "Latest Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Blog Section -->
<section class="blog section active" id="blog">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Latest Blog</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in ViewBag.Blogs)
            {
                <!-- Blog Item -->
                <div class="blog-item padd-15">
                    <div class="blog-item-inner shadow-dark">
                        <div class="blog-info">
                            <h4 class="blog-title">@blog.Title</h4>
                            <p class="blog-description">
                                @blog.Summary
                            </p>
                            <p class="blog-tags">
                                Tags : <a href="@Url.Action("Details", "Blog", new { id = blog.Id })">@blog.Tag</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Blog Item End -->
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->